.block {
    position: absolute;
    top: 10%;
    height: 70%;
    padding: 0.4rem;

    font-size: 0.8rem;

    cursor: grab;
    border: black 1px solid;
    border-radius: 0.2rem;

    background-color: #31576d;

    &:hover,
    &--selected {
        background-color: #566e7c;
    }
}
