.button {
    display: flex;
    align-items: center;

    height: 2.4rem;
    padding: 0 0.8rem;

    background-color: #31576d;

    border-radius: 0.4rem;

    cursor: pointer;

    &:hover {
        background-color: #3d5b6d;
    }
}
