.select {
    width: inherit;
    color: #808080;

    .Dropdown-control {
        display: flex;
        align-items: center;
        height: 2.4rem;
        padding-left: 0.8rem;
        line-height: 0.8rem;

        cursor: pointer;
        border-radius: 0.4rem;
        background-color: #fff;
    }

    .Dropdown-menu {
        position: absolute;
        width: inherit;

        border-radius: 0.4rem;
        background-color: #fff;

        .Dropdown-option {
            padding: 0.4rem 0.8rem;

            cursor: pointer;

            &:hover {
                background-color: #c3c9ff;
            }
        }
    }
}
