.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 0.8rem;
    padding: 0.8rem;

    background-color: #fff;
    border-radius: 2rem;

    height: 64rem;
    width: 64rem;
}
