.tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
    background-color: #31576d;

    width: 100%;
    height: 100%;

    &--empty {
        background-color: #bac5c9;
        color: #bac5c9;
    }

    &__content {
        fill: #000;
        svg {
            width: 6rem;
            height: 6rem;

            &.white {
                fill: #fff;
            }
        }
    }
}
